# Base de données MySQL
MYSQL_DATABASE=form_db
MYSQL_USER=ynov_user
MYSQL_PASSWORD=ynov_pwd
MYSQL_ROOT_PASSWORD=root_pwd
MYSQL_HOST=mysql-db

# Configuration FastAPI
PORT=8000

# Compte administrateur injecté dans la BDD
ADMIN_EMAIL=loise.fenoll@ynov.com
ADMIN_PASSWORD=PvdrTAzTeR247sDnAZBr

# JWT
JWT_SECRET=dev-secret